body, html{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(57, 15, 97);
    display: flex;
    justify-content: center;
    background-image: url(./img/background.jpg);
    background-size: cover;
}

#container{
    background-color: rgba(82, 21, 21, 0.486);
    height: 100%;
    width: clamp(800px, 1080px, 1200px);
    display: grid;
    grid-template-rows: 5em minmax(800px, auto) 5em;
}

#header{
    background-color: rgba(0, 100, 0, 0.521);
    display: flex
}

.icon{
    height: 5em;
    width: 5em;
    margin: 0 20px;
    background-image: url(./img/ramen.png);
    background-size:cover;
}

#buttons{
    margin-right: 100px;
    display: flex;
    flex-grow: 1;
    justify-content:center;
    gap: 5%;
}
.button{
    font-size: larger;
    width: 20%;
    border-radius: 1em;
    border:solid rgba(128, 128, 128, 0.541);
}
.button:hover{
    background-color: rgb(36, 36, 36);
    border-color: rgb(255, 0, 115);
    color: rgb(255, 0, 115);
    transition: 200ms;
    cursor: pointer;
}

#content{
    padding: 3em 0;
    color: rgba(20, 76, 230, 0.493);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: large;
    margin: 0 1em;
    overflow: scroll;
}

.block{/*Replaceable for 'welcome' on home tab*/
    display: grid;
    text-align:center;
    grid-auto-columns: auto;
    color: black;
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    height: clamp(1em, auto, 100%);
    border-radius: 2em;
    background-color: rgb(156, 156, 44);
}
.block>h2{
    justify-self: center;
}
.block>img{
    justify-self: center;
    padding: 1em 1em;
    width: 80%;
    border-radius: 1em;
}






#footer{

    background-color: rgba(47, 79, 79, 0.493);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer{
    display: flex;
    align-items: center;
}

.right{
    display: grid;
    justify-items: center;
}

.right>a{
    text-decoration: none;
}

.git{
    padding-left: 0.2em;
    align-content: flex-end;
    display: inline;
    width: 2.5em;
}